# Qdrant Vector Database
QDRANT_API_KEY=your_qdrant_api_key_here
QDRANT_URL=your_qdrant_url_here
QDRANT_VERIFY_SSL=false

# HuggingFace
HF_TOKEN=your_huggingface_token_here

# Groq
GROQ_API_KEY=your_groq_api_key_here

# OpenRouter
OPENROUTER_API_KEY=your_openrouter_api_key_here
